.nav-sticky {
    display: flex;
    padding: 40px;
    background-color: #F1D4E5;
    justify-content: flex-end;
    
    

}



.search { 
    display: flex;
    justify-content: space-between; 
    justify-content: flex-end;
    padding: 40px;
    background-color:#F1D4E5 ;

}



.holaaa {
    font-size: 10px;
    border-radius: 70px;
    height: 40px;
    width: 50px;
    

}

.presentation {
    color: black;
    margin: 30px;
}
.presentation-2 {
    color:#FF6969;
    margin: 30px;

}
.description {
    margin: 30px;
}
.first-button { 
    padding: 20px;
    margin: 30px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color:#FF6969;
    box-shadow: black; 
}
.first-button:hover {
   color: #FF6969;
    background-color: aliceblue;
    border-color: black;
}

img {
    width: 40%;
    height: 20%;
    display: block;
    margin-left: 650px;
    padding-top: none;
} 
.conocimientos {
    text-align: center;

}

.container-conocimientos {
    background-color: none;
    display: flex;
    justify-content: space-between;
    margin: 100px;
    flex-wrap: wrap;

}
.HTML-5 { 
    background-color:goldenrod;
    margin: 10px;
    height: 50px;
    padding: 50px;
    width: 100px;
    text-align: center;
    border-radius: 10px;

     
}
.CSS-3 {
    background-color:white;
    margin: 10px;
    height: 50px;
    padding: 50px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}
.SASS {
    background-color: blue;
    margin: 10px;
    height: 50px;
    padding: 50px;
    width: 100px;
    text-align: center;
    border-radius: 10px;

}
.JAVASCRIPT {
    background-color: yellowgreen;
    margin: 10px;
    height: 50px;
    padding: 50px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}
.REACT {
    background-color: violet;
    margin: 10px;
    height: 50px;
    padding: 50px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}
.GIT { 
    background-color: grey;
    margin: 10px;
    height: 50px;
    padding: 50px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}
.long-text {
    padding: 200px;
    text-align: center;
    background-color: #F1D4E5;
    

}


.proyectos {
    text-align: center;
    
}

.container-proyectos {
    display: flex;

}
#input-name {
    padding: 10px;
    border-radius: 50px; 
    height: 20px;
}

#input-lastname {
    padding: 10px;
    border-radius: 50px; 
    height: 20px;

}
#form-email {
    padding: 10px;
    border-radius: 50px; 
    height: 20px;
    
}
.send {
 padding: 30px;
 background-color: #FF6969;
 border-radius: 30px; 
 margin: 30px;
 height: 40px;
 font-size: medium;
}

.send:hover {
    color: #FF6969;
    background-color: antiquewhite;
    border-color: black;
}
.Contacto {
    display: flex;
    justify-content: center;
    background-color: beige;
    border-radius: 40px;
    padding: 10px;
    margin: 100px;

}
.fa-brands { 
    color: black;
    font-size: 25px;


}
.fa-brands:hover {
    color: black;
    background-color: rgb(247, 8, 247);
border-radius: 100px;
}
.fa-solid {
    color: #FF6969;
    font-size: 20px;

}
.fa-solid:hover {
color: black;
background-color:rgb(247, 8, 247);
border-radius: 150px;

}
.Contacto-box {
    width: 40%;
    height: 30%;
    background-color:beige;
    margin: 30px;
    margin-left: none;
    list-style: none;
    
}

.user-github { 
    font-size: 10px;

}
.user-github:hover {
    color: #FF6969;

}
.user-linkedin { 
    font-size: 10px;

}

.user-mail {
    font-size: 10px;
}
.Escribime {
    margin: 30px;

}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.final-box {
    padding: 100px;
    background-color: #FF6969;
    text-align: center;
    list-style: none;
    
    
}