.header { 
    z-index: 10;
    position: sticky;
    top: 0;
    width: 100%;
    
}
.search { 
    padding: 60px;
    background-color:#F1D4E5 ;
    list-style: none;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}
.hola-barra { 
    color: black;
    text-decoration: none;
    margin: 15px;
}
.hola-barra:hover {
    color: #FF6969;
}


.conocimientos-barra {
    color: black;
    text-decoration: none;
    margin: 15px;
}
.conocimientos-barra :hover { 
    color: #FF6969;
}
.proyectos-barra { 
    color: black;
    text-decoration: none;
    margin: 15px;
}
.proyectos-barra:hover { 
    color: #FF6969;
   

}
.contacto-barra { 
    color:white;
    text-decoration: none;
    margin: 15px;
    background-color: #FF6969;
    border-radius: 20px;
}

.presentation {
    color: black;
    margin: 30px;
}
.presentation-2 {
    color:#FF6969;
    margin: 30px;

}
.description {
    margin: 30px;
}
.first-button { 
    padding: 20px;
    margin: 30px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color:#FF6969;
    border: 1px solid black;
}
.first-button:hover {
   color: #FF6969;
    background-color: aliceblue;
    border-color: black;
}

img {
    width: 40%;
    height: 20%;
    display: block;
    margin-left: 650px;
    padding-top: none;


} 
.conocimientos {
    text-align: center;
}
.size-conoc { 
    font-size: 25px;
}

.container-conocimientos {
    background-color: none;
    display: flex;
    justify-content: space-between;
    margin: 100px;
    flex-wrap: wrap;
    border-radius: 5px;

    

}

.HTML-5 { 
    background-color:antiquewhite;
    margin: 10px;
    height: 70px;
    padding: 90px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
     
}


.CSS-3 {
    background-color:antiquewhite;
    margin: 10px;
    height: 70px;
    padding: 90px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}
.SASS {
    background-color:antiquewhite;
    margin: 10px;
    height: 70px;
    padding: 90px;
    width: 100px;
    text-align: center;
    border-radius: 10px;

}
.JAVASCRIPT {
    background-color:antiquewhite;
    margin: 10px;
    height: 70px;
    padding: 90px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}
.REACT {
    background-color: antiquewhite;
    margin: 10px;
    height: 70px;
    padding: 90px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}
.GIT { 
    background-color: antiquewhite;
    margin: 10px;
    height: 70px;
    padding: 90px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}
.long-text {
    padding: 200px;
    text-align: center;
    background-color: #F1D4E5;
}


.proyectos {
    text-align: center;
    
}

.container-proyectos {
    display: flex;
    background-color:none ;
    justify-content: space-between;
    margin: 100px;
    flex-wrap: wrap;
}
.img-portafolio { 
    background-color: antiquewhite;
    margin: 10px;
    height: 100px;
    padding: 90px;
    width: 100px;
    border-radius: 10px;
}
.img-g-memes { 
    background-color: antiquewhite;
    margin: 10px;
    height: 100px;
    padding: 90px;
    width: 100px;
    border-radius: 10px;

}
.img-match-3 { 
    margin: 10px;
    height: 100px;
    padding: 90px;
    width: 100px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.img-money { 
    margin: 10px;
    height: 100px;
    padding: 90px;
    width: 100px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.img-reuniones { 
    margin: 10px;
    height: 100px;
    padding: 90px;
    width: 100px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.img-app { 
    margin: 10px;
    height: 100px;
    padding: 90px;
    width: 100px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.img-movies { 
    margin: 10px;
    height: 100px;
    padding: 90px;
    width: 100px;
    background-color: antiquewhite;
    border-radius: 10px;
}
#input-name {
    padding: 10px;
    border-radius: 50px; 
    height: 20px;
}

#input-lastname {
    padding: 10px;
    border-radius: 50px; 
    height: 20px;

}
#form-email {
    padding: 10px;
    border-radius: 50px; 
    height: 20px;
    
}
.send {
 padding: 30px;
 background-color: #FF6969;
 border-radius: 30px; 
 margin: 30px;
 height: 40px;
 font-size: medium;
 border: 1px solid black;
}

.send:hover {
    color: #FF6969;
    background-color: antiquewhite;
    border-color: black;
}
.Contacto {
    display: flex;
    justify-content: center;
    background-color: beige;
    border-radius: 40px;
    padding: 25px;
    margin: 100px;
    

}
.fa-brands { 
    color: black;
    font-size: 70px;


}
.icon-html { 
    color: blue;
}
.fa-brands:hover {
    color: black;
    background-color: rgb(247, 8, 247);
border-radius: 100px;
}
.fa-solid {
    color:black;
    font-size: 20px;

}
.fa-solid:hover {
color: black;
background-color:rgb(247, 8, 247);
border-radius: 150px;

} 

.Contacto-box {
    width: 40%;
    height: 30%;
    background-color:beige;
    margin: 30px;
    margin-left: none;

    
}
.first-list-icons {
    list-style: none;
}

.user-github { 
    font-size: 15px;

}
.user-github:hover {
    color: #FF6969;

}
.user-linkedin { 
    font-size: 15px;

}
.user-linkedin:hover { 
    color: #FF6969;
}
.user-mail {
    font-size: 15px;
}
.user-mail:hover { 
    color: #FF6969;
}
.iconos-list {
    list-style: none;
    display: flex;
    justify-content: center;
}
.Escribime {
    margin: 30px;

}
.input-name:active {
    border-color: #FF6969;

}


.footer-nav {
    display: flex;
    justify-content: space-between;
}

.final-box {
    padding: 100px;
    background-color: #FF6969;
    text-align: center;
    list-style: none;

    
    
}

.navegation-footer { 
    list-style: none;
    display: flex;
    justify-content: center;

}
.hola-footer { 
    color: black;
    text-decoration: none;
    margin: 10px;
}
.conocimientos-footer { 
    color: black;
    text-decoration: none;
    margin: 10px;
}
.proyectos-footer { 
    color: black;
    text-decoration: none;
    margin: 10px;
}
.contacto-footer { 
    color: black;
    text-decoration: none;
    margin: 10px;
}
.github { 
    font-size: 25px;
    margin: 10px;

}
.github:hover { 
    background-color: white;
    border-radius: 50px;

}
.linkedin { 
    font-size: 25px;
    margin: 10px;
   
}
.linkedin:hover { 
    background-color: white;
     border-radius: 50px;
}
.mail { 
    font-size: 25px;
    margin: 10px;
}
.mail:hover {
    background-color: white;
    border-radius: 50px;
}
