.nav-sticky {
    padding: 40px;
    background-color: #F1D4E5;
    display: flex;
   
    justify-content: space-between;

}

.search { 
    display: flex;
    justify-content: space-between; 
    justify-content: flex-end;
    padding: 40px;
    background-color:#F1D4E5 ;

}



.holaaa {
    font-size: medium;
    border-radius: 70px;
    height: 40px;
    width: 50px;
    

}

.presentation {
    color: black;
    margin: 30px;
}
.presentation-2 {
    color:#FF6969;
    margin: 30px;

}
.description {
    margin: 30px;
}
.first-button { 
    padding: 20px;
    margin: 30px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color:#FF6969;
    box-shadow: black; 
}
.first-button:hover {
   color: #FF6969;
    background-color: aliceblue;
    border-color: black;
}

img {
    width: 40%;
    height: 20%;
    display: block;



}


.conocimientos {
    text-align: center;

}

.container-conocimientos {
    background-color: none;
    display: flex;
    justify-content: space-between;
    margin: 100px;

}
.HTML-5 { 
    background-color: black;
    height: 50px;
    padding: 50px;
    width: 100px;
    text-align: center;
     
}
.CSS-3 {
    background-color: aqua;
    height: 50px;
    padding: 50px;
    width: 100px;
    text-align: center;
}
.SASS {
    background-color: blue;
    height: 50px;
    padding: 50px;
    width: 100px;
    text-align: center;

}
.JAVASCRIPT {
    background-color: yellowgreen;
    height: 50px;
    padding: 50px;
    width: 40px;
    text-align: center;
}
.REACT {
    background-color: violet;
    height: 50px;
    padding: 50px;
    width: 40px;
    text-align: center;
}
.GIT { 
    background-color: grey;
    height: 50px;
    padding: 50px;
    width: 40px;
    text-align: center;
}
.proyectos {
    text-align: center;
    
}
#input-name {
    padding: 10px;
    border-radius: 50px; 
    height: 20px;
}

#input-lastname {
    padding: 10px;
    border-radius: 50px; 
    height: 20px;

}
#form-email {
    padding: 10px;
    border-radius: 50px; 
    height: 20px;
    
}
.send {
 padding: 30px;
 background-color: #FF6969;
 border-radius: 30px; 
 margin: 30px;
 height: 40px;
 font-size: medium;
}
.send:hover {
    color: #FF6969;
    background-color: antiquewhite;
    border-color: black;
}
.Contacto {
    display: flex;
    justify-content: center;
    background-color: beige;
    border-radius: 40px;
    padding: 10px;
    margin: 100px;

}
.fa-brands { 
    color: #FF6969;
    font-size: 25px;


}
.fa-brands:hover {
    color: black;
    background-color: rgb(247, 8, 247);
border-radius: 100px;
}
.fa-solid {
    color: #FF6969;
    font-size: 20px;

}
.fa-solid:hover {
color: black;
background-color:rgb(247, 8, 247);
border-radius: 150px;
}
.Contacto-box {
    width: 40%;
    height: 30%;
    background-color:beige;
    margin: 30px;
    
}
.Escribime {
    margin: 30px;

}

.footer-nav {
    display: flex;
    justify-content: space-between;
}